

 



 <!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside *ngIf="showAdminBoard" id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin" routerLink="admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

  

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="man">
        <i class="bi bi-person"></i>
        <span>Managers</span>
      </a>
    </li><!-- End Profile Page Nav -->

    
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="branch">
        <i class="bi bi-file-earmark"></i>
        <span>Branch</span>
      </a>
    </li>
  

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="truck">
        <i class="bi bi-file-earmark"></i>
        <span>Truck</span>
      </a>
    </li><!-- End Blank Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="driver">
        <i class="bi bi-file-earmark"></i>
        <span>Drivers</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="trip">
        <i class="bi bi-file-earmark"></i>
        <span>Trip</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->






<header *ngIf="showManagerBoard" id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/admin/img/logo.png" alt="">
      <span class="d-none d-lg-block">SarayaTrans</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->


      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img *ngIf="profile" src="assets/admin/img/baye.jpeg" alt="Profile" class="rounded-circle">
          <img *ngIf="!profile" src="assets/admin/img/profile-i" alt="Profile" class="rounded-circle">
          

          <span class="d-none d-md-block dropdown-toggle ps-2">{{ currentUser.username}}</span>
        </a><!-- End Profile Iamge Icon -->
        
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ currentUser.firstname }} {{ currentUser.firstname }}</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="logout()" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside *ngIf="showManagerBoard" id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li   class="nav-item">
      <a class="nav-link " href="/admin" routerLink="admin">
        <i class="bi bi-grid"></i>
        <span>branch</span>
      </a>
    </li><!-- End Dashboard Nav -->
  
    <li class="nav-heading">Pages</li>
  

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="man/truck/{{currentUser.id}}"> 
        <i class="bi bi-file-earmark"></i>
        <span>Truck</span>
      </a>
    </li><!-- End Blank Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="trip"> 
        <i class="bi bi-file-earmark"></i>
        <span>Trip</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="driver"> 
        <i class="bi bi-file-earmark"></i>
        <span>Driver</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->


 <router-outlet></router-outlet>