

<!--<div id="contact" class="contact">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Login as admin or manager</h2>
             </div>
          </div>
       </div>
    </div>
    <div class="con_bg">
       <div class="container-fluid">
          <div class="row">
            
             <div class="col-md-7">
                <div class="co_tru">
                   <figure><img src="../assets/img/truck.jpeg" width="500px" alt="#"/></figure>
                </div>
             </div>
             <div class="col-md-5">
               <form 
               
               *ngIf="!isLoggedIn"
               name="form"
               (ngSubmit)="f.form.valid && onSubmit()"
               #f="ngForm"
               novalidate
               
               id="request" class="main_form">
                  <div class="row">
                     <div class="col-md-12 ">

                        <input class="contactus" type="text"
                        placeholder="Username"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        #username="ngModel"
                        > 
                     </div>

                     <div
                     class="alert alert-danger"
                     role="alert"
                     *ngIf="username.errors && f.submitted">
                     Username is required!
                   </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Password"  type="password"
   
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="6"
                        #password="ngModel"> 
                     </div>
                     <div
                     class="alert alert-danger"
                     role="alert"
                     *ngIf="password.errors && f.submitted">
                     
                     <div *ngIf="password.errors.required">Password is required</div>
                     <div *ngIf="password.errors.minlength">
                       Password must be at least 6 characters
                     </div>
                   </div>
                   
                     <div class="col-md-12">
                        <button class="send_btn">Send</button>
                     </div>
                     <div class="form-group">
                       <div
                         class="alert alert-danger"
                         role="alert"
                         *ngIf="f.submitted && isLoginFailed"
                       >
                         Login failed: {{ errorMessage }}
                       </div>
                     </div>
                  </div>
               </form>

               <div class="alert alert-success" *ngIf="isLoggedIn">
                   Logged in as {{ roles }}.
                 </div>
            </div>
          </div>
       </div>
    </div>
 </div> -->

 <section class="vh-100" >
   <div class="container py-5 h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col col-xl-10">
         <div class="card" style="border-radius: 1rem;">
           <div class="row g-0">
             <div class="col-md-6 col-lg-5 d-none d-md-block">
               <img src="../assets/img/coli.jpeg" 
                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top: 15px;" />
             </div>
             <div class="col-md-6 col-lg-7 d-flex align-items-center">
               <div class="card-body p-4 p-lg-5 text-black">
 
                 <form 
                 *ngIf="!isLoggedIn"
                 name="form"
                 (ngSubmit)="f.form.valid && onSubmit()"
                 #f="ngForm"
                 novalidate
                 
                  >
 
                   <div class="d-flex align-items-center mb-3 pb-1">
                     <i class="fa fa-truck fa-2x me-3" style="color: #ff6219;"></i>
                    
                     
                     <span class="h1 fw-bold mb-0" style="color: #ff6219;">SarayaTrans</span>
                   </div>
 
                   <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
 
                   <div class="form-outline mb-4">
                     
                     <input type="text" class="form-control form-control-lg" placeholder="Username"
                     name="username"
                     [(ngModel)]="form.username"
                     required
                     #username="ngModel" />
                     
                  
                   </div>
                   <div
                   class="alert alert-danger"
                   role="alert"
                   *ngIf="username.errors && f.submitted">
                   Username is required!
                 </div>
 
                   <div class="form-outline mb-4">
                     
                     <input type="password" class="form-control form-control-lg" placeholder="Password"  type="password"
                     name="password"
                     [(ngModel)]="form.password"
                     required
                     minlength="6"
                     #password="ngModel"/>   
                     
                   </div>
                   <div
                   class="alert alert-danger"
                   role="alert"
                   *ngIf="password.errors && f.submitted">
                   
                   <div *ngIf="password.errors.required">Password is required</div>
                   <div *ngIf="password.errors.minlength">
                     Password must be at least 6 characters
                   </div>
                 </div>
 
                   <div class="pt-1 mb-4">
                     <button class="btn  btn-lg btn-block" style="background-color: #ff6219; color: white;">Login</button>
                   </div>
                   <div class="form-group">
                     <div
                       class="alert alert-danger"
                       role="alert"
                       *ngIf="f.submitted && isLoginFailed"
                     >
                       Login failed: {{ errorMessage }}
                     </div>
                   </div>

                 </form>
                 <div class="alert alert-success" *ngIf="isLoggedIn">
                  Logged in as {{ roles }}.
                </div>
 
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 


 